header{
	background-color: #e74c3c;
}
.inc{
	font-size: 170%;
	color: white;
	padding-top: 3%; 
}
.ul{
	list-style: none;
	padding-top: 4%;
	text-align : right;
}
a{
	text-decoration: none;
	color: white;
	padding-right: 6%;
	font-size: 110%;

}
li{
	display: inline;
}
.back1{
	background-image: url("assets/img/case.jpg");
	/*background-image: url(asset/images/main.jpg);	*/
}
.big1{
	/*font-size: 200%;*/
	color: red;
}
.p1{
	/*font-size: 200%;*/
margin-top: 5%;
/*background-color: red;*/
  /*padding-bottom: 10%;*/
  /*margin-bottom: 10%;*/
}
.p2{
	/*font-size: 200%;*/
margin-top: 7%;
}
.p3{
	font-size: 500%;
margin-top: 8%;
}
.bg {
  /* The image used */
  background-image: url("../img/samosir_3.png");
  /* Full height */
  height: 100%; 
  padding-bottom: 50%;
 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

